h1 {
    color: #a2d2ff;
    border: 5px solid black;
    /* padding: 40px; */
    text-shadow: 5px 5px 10px #bde0fe;
    font-family: 'Roboto', sans-serif;
}
p {
    color: blue;
    font-size: 100%;
    background-color: cyan;
    border: 5px solid green;
    /* padding: 40px; */
    /* margin: 100px; */
} 