* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
header {
  padding: 30px;
  border: 1px solid black;
}
nav {
  border: 1px solid black;
}
nav ul {
  list-style: none;
}
nav ul > li {
  display: inline;
  padding: 10px;
}
aside {
  float: left;
  width: 20%;
  height: 500px;
  border: 1px solid black;
}
aside ul {
  list-style: none;
}
article {
  float: left;
  width: 80%;
  border: 1px solid black;
  padding: 30px;
  height: 500px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  border: 1px solid black;
  padding: 30px;
}

@media (max-width: 600px) {
  aside,
  article {
    width: 100%;
    height: 100%;
  }
}
