*{
    box-sizing: border-box;
  }
  
  header {
    background-color: #001d3d;
    padding: 30px;
    color:rgb(211, 159, 63) ;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  nav ul > li {
    display: inline;
    padding: 10px;
  }
  
  nav {
    border: 1px solid #184e77;
    background: #184e77;
  }
  
  aside {
    float: left;
    width: 20%;
    border: 1px solid #a2d2ff ;
    background-color: #a2d2ff;
    height: 300px;
    font-family: 'Bebas Neue', cursive;

  }
  aside ul > li {
    padding: 10px;
  }
  article {
    float: left;
    width: 80%;
    border: 1px solid #bde0fe ;
    background: #bde0fe;
    padding: 10px;
    height: 300px;
    padding: 20px;
    font-family: 'Caveat', cursive;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    border: 1px solid black;
    background-color: #001d3d;
    padding: 30px;
    color:rgb(211, 159, 63) ;
  }
  @media (max-width: 600px) {
    aside,
    article {
      width: 100%;
      height: 100%;
    }
  }
  
 a:link {
    color: rgb(0, 149, 255);
    font-weight: bold;
    text-decoration: none;
    background: #ccc;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  a:visited {
    color: rgb(211, 159, 63);
  }
  a:hover {
    color:#03045e ;
  }
  