* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: beige;
}
header {
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content > .box {
  margin: 20px;
}

.box {
  padding: 10px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
}

.box > * {
  text-align: center;
  align-items: center;
  align-self: center;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.score {
  background-color: rgb(255, 198, 117);
  padding: 10px;
  border-radius: 10px;
}
.score-value {
  font-size: 18px;
  font-weight: bold;
}
.btn {
  display: table;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(172, 98, 0);
  width: 100%;
}

.btn:link,
.btn:visited,
.btn:hover {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgb(195, 111, 1);
}
.box img {
  width: 100%;
  padding: 10px;
}
